# Media & Audio Cache
audio_cache/
*.webm
*.mp4
*.mkv
*.avi
*.jpg
*.jpeg
*.png
!favicon.png

# Binaries & Scrapers
yt-dlp.exe
innertube_out.json
piped_res.json

# System & OS
.DS_Store
Thumbs.db
desktop.ini
